<div class="alert alert-info"  *ngIf="isLoading" role="alert">
    Loading data...
</div>
<div class="alert alert-info"  *ngIf="isSaving" role="alert">
    Saving data...
</div>
<div class="alert alert-danger"  *ngIf="isDirty" role="alert">
    Remember to save your changes!
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
    <a class="navbar-brand" [routerLink]="['/import']" routerLinkActive="router-link-active">Import</a>
    <a class="navbar-brand" [routerLink]="['/accounts']" routerLinkActive="router-link-active">Accounts</a>
    <a class="navbar-brand" [routerLink]="['/categories']" routerLinkActive="router-link-active">Categories</a>
    <a class="navbar-brand" [routerLink]="['/manage-categories']" routerLinkActive="router-link-active">Manage Categories</a>
    <!-- <div class="form-inline">
        <div class="custom-file col-sm-7">
            <input type="file" class="custom-file-input" (change)="loadFile($event)">
            <label class="custom-file-label">Choose file</label>
        </div>
        <button *ngIf="isDirty" class="btn btn-danger" (click)="onSave()">Save to file</button>
    </div> -->
    <span class="navbar-text" *ngIf="!isDirty">Saved</span>
    <button class="btn btn-danger" *ngIf="isDirty" (click)="onSave()">Save</button>
    <!-- <button class="btn btn-outline-primary" (click)="onExportToCSVClick()">Export to CSV</button> -->
    <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button"data-toggle="dropdown">
            {{selectedCurrency.code}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let c of currencies" (click)="onCurrencyChanged(c)">{{c.code}}</a>
        </div>
    </div>
    <button class="btn btn-outline-primary" (click)="logout()">logout {{username}}</button>
    <button class="btn btn-danger" (click)="test()">test</button>
</nav>