<input type="text" placeholder="search..." class="form-control" [(ngModel)]="filterText" (ngModelChange)="onFilterChange($event)"/>
<p>result: {{displayCount}}/{{filteredTransactions.length}} total: {{allTransactions.length}}</p>
<p>sum: {{totalSum | number: '1.2-2'}} avg: {{filteredAvg | number: '1.2-2'}} min: {{filteredMin | number: '1.2-2'}} max: {{filteredMax | number: '1.2-2'}}</p> 
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Title</th>
            <th scope="col">Account</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table" *ngFor="let t of filteredTransactions.slice(0, displayCount)">
            <td>{{t.transaction.date | date: 'yyyy-MM-dd' }}</td>
            <td [ngStyle]="{color: t.displayAmount < 0 ? 'red' : 'black'}"
                title="{{t.transaction.amount}} {{t.transactionCurrencyCode}}"
                class="text-right">{{t.displayAmount | number: '1.2-2'}} {{t.displayCurrencyCode}}</td>
            <td>{{t.transaction.title}}</td>
            <td>{{t.account.name}}</td>
            <!-- TODO: DisplayItems -->
            <td>{{t.category ? t.category.name : ""}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-info" (click)="onLoadMoreClick()" [disabled]="displayCount >= filteredTransactions.length">Show more...</button>