<input type="text" placeholder="search..." class="form-control" [(ngModel)]="filter" (ngModelChange)="onFilterChange($event)"/>
<p>shown: {{displayCount}} result: {{filteredTransactions.length}} total: {{allTransactionDisplayItems.length}}</p>
<div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="withoutCategory" (change)="onCheckboxChange($event)">
    <label class="form-check-label">Only without category</label>
</div>
<button class="btn btn-success" (click)="onAcceptAllSugestionsClick()">Accept All Suggestions</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Select</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Title</th>
            <th scope="col">Account</th>
            <th scope="col">Suggested</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table" *ngFor="let t of filteredTransactions.slice(0, displayCount)" 
            [ngClass]="{
                'table-primary': !!t.suggestedCategory,
                'table-success': !!t.category
            }">
            <td><input [(ngModel)]="t.selected" type="checkbox"/></td>
            <td>{{t.transaction.date | date: 'yyyy-MM-dd' }}</td>
            <td [ngStyle]="{color: t.transaction.amount < 0 ? 'red' : 'black'}">{{t.transaction.amount | number: '1.2'}}</td>
            <td>{{t.transaction.title}}</td>
            <td>{{t.account ? t.account.name : ''}}</td>
            <td><button *ngIf="!!t.suggestedCategory" class="btn btn-link" (click)="onSuggestedCategoryClick(t)">{{t.suggestedCategory.name}}</button></td>
            <td>
                <select [ngModel]="t.transaction.categoryGuid" name="category" class="form-control" (ngModelChange)="onCategoryChange(t.transaction, $event)">
                    <option [ngValue]="null">No Category</option>
                    <option *ngFor="let c of categories" [ngValue]="c.guid">{{c.name}}</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-info" (click)="onLoadMoreClick()">Show more...</button>
<div *ngIf="!isProduction">
    <button class="btn btn-danger" (click)="onRemoveAllTransactionsClick()">Remove all transactions</button>
    <button class="btn btn-success" (click)="onDumpAllDataClick()">Data Dumper</button>
</div>