<table class="table">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Title</th>
            <th scope="col">Import</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'table-success': !t.foundDuplicate, 'table-danger': t.foundDuplicate}"
            *ngFor="let t of stagedTransactions">
            <th>{{t.foundDuplicate ? 'Duplicate' : 'New'}}</th>
            <td nowrap>{{t.transaction.date | date: 'yyyy-MM-dd' }}</td>
            <td [ngStyle]="{color: t.amount < 0 ? 'red' : 'black'}" nowrap>{{t.transaction.amount | number: '1.2-2'}}
            </td>
            <td>{{t.transaction.information}}</td>
            <td><input type="checkbox" class="form-check-input" [(ngModel)]="t.checked" (change)="onCheckChange()" />
            </td>
        </tr>
    </tbody>
</table>