<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-cash-flow-tab" data-toggle="tab" href="#nav-cash-flow" role="tab"
            aria-controls="nav-cash-flow" aria-selected="true">Cash Flow</a>
    </div>
  </nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-cash-flow" role="tabpanel" aria-labelledby="nav-cash-flow-tab">
        <app-dashboard-cash-flow></app-dashboard-cash-flow>
    </div>
</div>