<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-search-tab" data-toggle="tab" href="#nav-search" role="tab" aria-controls="nav-search" aria-selected="true">Search</a>
        <a class="nav-item nav-link" id="nav-cash-flow-tab" data-toggle="tab" href="#nav-cash-flow" role="tab" aria-controls="nav-cash-flow" aria-selected="false">Cash Flow</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-search" role="tabpanel" aria-labelledby="nav-search-tab">
        <app-dashboard-transactions></app-dashboard-transactions>
    </div>
    <div class="tab-pane fade" id="nav-cash-flow" role="tabpanel" aria-labelledby="nav-cash-flow-tab">
        <app-dashboard-cash-flow></app-dashboard-cash-flow>
    </div>
</div>