<input type="text" placeholder="search..." class="form-control" [(ngModel)]="filterText"
    (ngModelChange)="onFilterChange($event)" />
<p>result: {{displayCount}}/{{filteredTransactions.length}} total: {{allTransactions.length}}</p>
<app-transactions-list [transactions]="filteredTransactions.slice(0, displayCount)" [selectable]="true"
    [editable]="true"
    [removable]="true">
</app-transactions-list>
<div *ngIf="displayCount < filteredTransactions.length" class="alert alert-primary" (click)="onLoadMoreClick()"
    role="alert">
    Click or Scroll down to load more...
</div>